.section__header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: auto;
        justify-content: center;
    }
}

.section__h2--listHeader {
    margin-block-end: 0;
    margin-block-start: 0;
}

.headerButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

@media (max-width: 767px) {
    .headerButtons {
        grid-template-columns: auto;
        justify-content: center;
    }
}

.form__button{
    padding: 10px;
    background: hsl(180, 100%, 25%);
    color: white;
    border: none;
    transition: 1s;
}

.form__button--hidden{
    display: block;
}

.form__button--listHeader{
    color: hsl(180, 100%, 25%);
    border: none;
    background: rgba(255, 255, 255, 0);
    padding: 0;
}

.form__button--listHeader:hover{
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.form__button--input:hover{
    background: hsl(180, 100%, 30%);
    transform: scale(1.1);
    cursor: pointer;
}

.form__button--listHeader:disabled{
    color: gray;
    cursor: not-allowed;
}

.form__button--input:active{
    padding: 10px;
    background: hsl(180, 100%, 35%);
    color: white;
    border: none;
}